.hero-banner
	%marquee{scrollamount: 5, truespeed: true, scrolldelay: 40}
		JOIN US AS FAST AS YOU CAN, OR OUR DEVELOPERS WILL CRY JOIN US AS FAST AS YOU CAN, OR OUR DEVELOPERS WILL CRY JOIN US AS FAST AS YOU CAN, OR OUR DEVELOPERS WILL CRY JOIN US AS FAST AS YOU CAN, OR OUR DEVELOPERS WILL CRY
	.hero-banner-wrapper
		- 10.times do
			.hero-banner-title JOIN
	.hero-banner-media
		.hero-btn 
			%span SIGN
		.hero-banner-media--img{style: "background-image: url('https://images.unsplash.com/photo-1502055319327-d21e69ac431f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ad9b147df4b9809454c8d60fbb48084c&auto=format&fit=crop&w=934&q=80')"}
		.hero-banner-media--img{style: "background-image: url('https://images.unsplash.com/photo-1502055319327-d21e69ac431f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ad9b147df4b9809454c8d60fbb48084c&auto=format&fit=crop&w=934&q=80')"}